.features__main__description {
  margin-top: 1.5rem;
}

.features__list {
  display: grid;
  row-gap: 3rem;
  padding-inline-start: 1.5rem;
}

.features__item {
  display: grid;
  row-gap: 1rem;
}

.features__content {
  display: flex;
  gap: 2rem;
}

.features__title {
  display: inline-block;
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  padding-top: 0.6rem;
}

.features__description {
  margin-inline-start: 8.5rem;
}

.features__no {
  display: inline-block;
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  padding: 1rem 2.3rem;
  border-radius: 2rem;
}
