.footer {
  width: 100%;
  justify-self: center;
}

.footer__upper {
  display: flex;
  background-color: var(--color-bright-red);
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 13rem;
}

.footer__slogan {
  color: var(--color-light-gray);
  font-size: var(--font-size-25);
}

.footer__slogan::after {
  content: '\aworks today.';
  white-space: pre;
}

.getStarted-bg:link,
.getStarted-bg:visited {
  color: var(--color-bright-red);
  background-color: var(--color-white);
  align-self: center;
}

.getStarted-bg:hover,
.getStarted-bg:active {
  cursor: pointer;
  color: var(--color-pale-red);
}

.footer__lower {
  background-color: var(--color-very-dark-blue);
  padding: 4rem 13rem;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  height: 11rem;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1.3rem;
}

.socials-link:link,
.socials-link:visited {
  height: 2rem;
  width: 2rem;
  transition: var(--transition-timing);
}

.facebook-icon:link,
.facebook-icon:visited {
  // height: 4rem;
  // width: 4rem;
  background-size: cover;
  background-image: url(../images/icon-facebook.svg);
}

.facebook-icon:hover,
.facebook-icon:active {
  background-image: url(../images/icon-facebookRed.svg);
}

.youtube-icon:link,
.youtube-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-youtube.svg);
}

.youtube-icon:hover,
.youtube-icon:active {
  background-image: url(../images/icon-youtubeRed.svg);
}

.twitter-icon:link,
.twitter-icon:visited {
  height: 1.9rem;
  background-size: cover;
  background-image: url(../images/icon-twitter.svg);
}

.twitter-icon:hover,
.twitter-icon:active {
  background-image: url(../images/icon-twitterRed.svg);
}

.pinterest-icon:link,
.pinterest-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-pinterest.svg);
}

.pinterest-icon:hover,
.pinterest-icon:active {
  background-image: url(../images/icon-pinterestRed.svg);
}

.instagram-icon:link,
.instagram-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-instagram.svg);
}

.instagram-icon:hover,
.instagram-icon:active {
  background-image: url(../images/icon-instagramRed.svg);
}

.links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15rem;
}

.pages-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.page-link:link,
.page-link:visited {
  color: var(--color-light-gray);
  font-size: var(--font-size-13);
  transition: var(--transition-timing);
}

.page-link:hover,
.page-link:active {
  color: var(--color-bright-red);
}

.footer__form {
  display: flex;
  align-items: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__input {
  width: 18rem;
  font-size: var(--font-size-13);
  background-color: var(--color-white);
  padding: 1rem 1.6rem;
  border-radius: 1.9rem;
}

.footer__input.is-invalid {
  color: var(--color-bright-red);
  border: 0.2rem solid var(--color-bright-red);
}

.footer__button {
  color: var(--color-white);
  font-size: var(--font-size-13);
  padding: 1rem 1.7rem;
  background-color: var(--color-bright-red);
  border-radius: 1.9rem;
  margin-inline-start: 0.5rem;
  transition: var(--transition-timing);
}

.footer__button:hover {
  background-color: var(--color-pale-red);
  cursor: pointer;
}

.footer__error {
  width: 100%;
  color: var(--color-bright-red);
  font-size: var(--font-size-11);
  overflow-wrap: break-word;
}

.footer__copyright {
  color: var(--color-grayish-blue);
  font-size: var(--font-size-11);
  align-self: flex-end;
}
