html {
  font-size: var(--font-size-10);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-light-gray);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}
