html {
  font-size: var(--font-size-10);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.container {
  display: grid;
  row-gap: 12rem;
  max-width: 144rem;
  margin: 0 auto;
}

.getStarted:link,
.getStarted:visited {
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  border-radius: 4rem;
  padding: 1.1rem 3rem;
  transition: var(--transition-timing);
  box-shadow: 0 0 0.3rem var(--color-pale-red);
}

.getStarted:hover,
.getStarted:active {
  cursor: pointer;
  background-color: var(--color-pale-red);
}

.two-columns,
.section {
  display: grid;
  column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
}

.h2-heading {
  color: var(--color-dark-blue);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-medium);
}

// .upper-bg-img {
//   position: absolute;
//   top: -18rem;
//   right: -4.5rem;
//   width: 45%;
//   height: 67.3%;
//   background-image: url(../images/bg-tablet-pattern.svg);
//   background-size: cover;
//   z-index: -1;
// }

// .lower-bg-img {
//   position: absolute;
//   top: 120rem;
//   left: -110rem;
//   width: 74%;
//   height: 67.3%;
//   background-image: url(../images/bg-tablet-pattern.svg);
//   background-size: cover;
//   z-index: -1;
// }
