html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.main-container {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  display: grid;
  row-gap: 6rem;
  margin: 0 8%;
}

.getStarted:link,
.getStarted:visited {
  font-size: var(--font-size-13);
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  border-radius: 4rem;
  padding: 1.4rem 3rem;
  transition: var(--transition-timing);
  box-shadow: 0 0 0.3rem var(--color-pale-red);
}

.getStarted:hover,
.getStarted:active {
  cursor: pointer;
  background-color: var(--color-pale-red);
}

.section {
  display: grid;
  column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
}

.h2-heading {
  color: var(--color-dark-blue);
  font-size: var(--font-size-45);
  font-weight: var(--font-weight-bold);
}

.top-bg-img {
  position: absolute;
  top: -32rem;
  right: -28.5rem;
  width: 61.5%;
  z-index: -1;
}

.lower-bg-img {
  position: absolute;
  top: 105rem;
  left: -45rem;
  width: 54%;
  z-index: -1;
}
