html {
  font-size: var(--font-size-10);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.container {
  display: grid;
  row-gap: 12rem;
  max-width: 144rem;
  margin: 0 auto;
}

.getStarted:link,
.getStarted:visited {
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  border-radius: 4rem;
  padding: 1.1rem 3rem;
  transition: var(--transition-timing);
  box-shadow: 0 0 0.3rem var(--color-pale-red);
}

.getStarted:hover,
.getStarted:active {
  cursor: pointer;
  background-color: var(--color-pale-red);
}

.two-columns {
  display: grid;
  column-gap: 6rem;
  row-gap: 12rem;
  grid-template-columns: repeat(2, 1fr);
}
