.intro__texts__box {
  margin: auto 0;
}

.intro__header {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-blue);
}

.intro__description {
  margin: 3rem 0;
  width: 76%;
}

.intro__img {
  justify-self: flex-end;
  width: 100%;
  height: auto;
}
