.main__title {
  color: var(--color-dark-blue);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-medium);
  margin-bottom: 3rem;
}

.main__list {
  display: grid;
  row-gap: 3rem;
  padding-inline-start: 3.5rem;
}

.main__item {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
}

.item__content {
  padding-top: 0.7rem;
}

.item__no {
  display: inline-block;
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  padding: 0.8rem 2.3rem;
  border-radius: 2rem;
}

.item__title {
  display: inline-block;
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2rem;
}
