* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
