.testimonials {
  position: relative;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

.testimonials h2 {
  width: 100%;
  text-align: center;
}

.swiper {
  width: 100%;
  margin: 4rem 0 3rem;
  overflow: hidden;
}

.swiper-slide {
  //   position: absolute;
  //   z-index: -1;
  display: grid;
  row-gap: 2rem;
  padding: 0 3rem 3rem;
  background-color: var(--color-light-gray);
  text-align: center;
}

.swiper-slide img {
  //   position: absolute;
  //   z-index: 2;
  //   top: -3rem;
  //   left: 50%;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.testimonial__name {
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.getStarted--align {
  align-self: center;
}
