.testimonials {
  width: 100%;
  display: grid;
  row-gap: 4rem;
  margin: 14rem 0;
}

.testimonials__header {
  width: 100%;
  text-align: center;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: grid;
  row-gap: 2rem;
  padding: 0 3rem 3rem;
  background-color: var(--color-light-gray);
  text-align: center;
}

.testimonials__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.testimonial__name {
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.getStarted--align {
  justify-self: center;
}
