@charset "UTF-8";

:root {
  --color-white: #ffffff;
  --color-pale-red: #ffefeb;
  --color-bright-red: #f25f3a;
  --color-light-gray: #fafafa;
  --color-grayish-blue: #9095a7;
  --color-dark-blue: #242d52;
  --color-very-dark-blue: #1d1e25;
  --font-family-vietnam: 'Be Vietnam Pro', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-10: 10px;
  --font-size-16: 1rem;
  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --transition-timing: 0.3s;
}
