@charset "UTF-8";

:root {
  --color-white: #ffffff;
  --color-pale-red: hsl(12, 100%, 80%);
  --color-bright-red: #f25f3a;
  --color-light-gray: #fafafa;
  --color-grayish-blue: #9095a7;
  --color-dark-blue: #242d52;
  --color-very-dark-blue: #1d1e25;
  --font-family-vietnam: 'Be Vietnam Pro', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-10: 1rem;
  --font-size-11: 1.1rem;
  --font-size-13: 1.3rem;
  --font-size-16: 1.6rem;
  --font-size-25: 2.5rem;
  --font-size-30: 3rem;
  --font-size-38: 3.8rem;
  --font-size-40: 4rem;
  --font-size-50: 5rem;
  --font-size-65: 6.5rem;
  --transition-timing: 0.3s;
}
