:root {
  --color-white: #ffffff;
  --color-pale-red: #ff9980;
  --color-bright-red: #f25f3a;
  --color-light-gray: #fafafa;
  --color-grayish-blue: #9095a7;
  --color-dark-blue: #242d52;
  --color-very-dark-blue: #1d1e25;
  --font-family-vietnam: "Be Vietnam Pro", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-10: 10px;
  --font-size-16: 1rem;
  --font-size-40: 4rem;
  --font-size-30: 3rem;
  --font-size-65: 6.5rem;
  --transition-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: var(--font-size-10);
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.container {
  display: grid;
  row-gap: 12rem;
  max-width: 144rem;
  margin: 0 auto;
}

.getStarted:link,
.getStarted:visited {
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  border-radius: 4rem;
  padding: 1.1rem 3rem;
  transition: var(--transition-timing);
  box-shadow: 0 0 0.3rem var(--color-pale-red);
}

.getStarted:hover,
.getStarted:active {
  cursor: pointer;
  background-color: var(--color-pale-red);
}

.two-columns,
.section {
  display: grid;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
}

.h2-heading {
  color: var(--color-dark-blue);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-medium);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__item a:link,
.nav__item a:visited {
  color: var(--color-dark-blue);
  transition: var(--transition-timing);
}

.nav__item a:hover,
.nav__item a:active {
  color: var(--color-grayish-blue);
}

.intro__texts__box {
  margin: auto 0;
}

.intro__header {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-blue);
}

.intro__description {
  margin: 3rem 0;
  width: 76%;
}

.intro__img {
  justify-self: flex-end;
  width: 100%;
  height: auto;
  -webkit-margin-end: -1.9rem;
          margin-inline-end: -1.9rem;
}

.features__list {
  display: grid;
  row-gap: 3rem;
  -webkit-padding-start: 3.5rem;
          padding-inline-start: 3.5rem;
}

.features__item {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
}

.item__description {
  margin-top: 2rem;
}

.item__no {
  display: inline-block;
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  padding: 0.8rem 2.3rem;
  border-radius: 2rem;
}

.item__title {
  display: inline-block;
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
}

.testimonials {
  display: grid;
  row-gap: 4rem;
}

.testimonials__header {
  width: 100%;
  text-align: center;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: grid;
  row-gap: 2rem;
  padding: 0 3rem 3rem;
  background-color: var(--color-light-gray);
  text-align: center;
}

.testimonials__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.testimonial__name {
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.getStarted--align {
  justify-self: center;
}/*# sourceMappingURL=style.css.map */