:root {
  --color-white: #ffffff;
  --color-pale-red: hsl(12, 100%, 96%);
  --color-bright-red: #f25f3a;
  --color-light-gray: #fafafa;
  --color-grayish-blue: #9095a7;
  --color-dark-blue: #242d52;
  --color-very-dark-blue: #1d1e25;
  --font-family-vietnam: "Be Vietnam Pro", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-10: 1rem;
  --font-size-11: 1.1rem;
  --font-size-13: 1.3rem;
  --font-size-16: 1.6rem;
  --font-size-25: 2.5rem;
  --font-size-30: 3rem;
  --font-size-38: 3.8rem;
  --font-size-40: 4rem;
  --font-size-50: 5rem;
  --font-size-65: 6.5rem;
  --transition-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 1.7;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: var(--font-family-vietnam);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-white);
  color: var(--color-grayish-blue);
}

.container {
  display: grid;
  row-gap: 14rem;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.getStarted:link,
.getStarted:visited {
  font-size: var(--font-size-13);
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  border-radius: 4rem;
  padding: 1.4rem 3rem;
  transition: var(--transition-timing);
  box-shadow: 0 0 0.3rem var(--color-pale-red);
  -webkit-margin-end: 1.8rem;
          margin-inline-end: 1.8rem;
}

.getStarted:hover,
.getStarted:active {
  cursor: pointer;
  background-color: var(--color-pale-red);
}

.two-columns,
.section {
  display: grid;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  grid-template-columns: repeat(2, 1fr);
}

.h2-heading {
  color: var(--color-dark-blue);
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-medium);
}

.top-bg-img {
  display: block;
  position: absolute;
  top: -27rem;
  right: -16.5rem;
  width: 53.5%;
  height: auto;
  z-index: -1;
}

.lower-bg-img {
  position: absolute;
  top: 117rem;
  left: -46rem;
  width: 41%;
  height: auto;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.burger-icon {
  display: none;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__item a:link,
.nav__item a:visited {
  color: var(--color-dark-blue);
  transition: var(--transition-timing);
}

.nav__item a:hover,
.nav__item a:active {
  color: var(--color-grayish-blue);
}

.intro__texts__box {
  margin: auto 0;
}

.intro__header {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-blue);
}

.intro__description {
  margin: 3rem 0;
  width: 76%;
}

.intro__img {
  justify-self: flex-end;
  width: 100%;
  height: auto;
}

.features__main__description {
  margin-top: 1.5rem;
}

.features__list {
  display: grid;
  row-gap: 3rem;
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
}

.features__item {
  display: grid;
  row-gap: 1rem;
}

.features__content {
  display: flex;
  gap: 2rem;
}

.features__title {
  display: inline-block;
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  padding-top: 0.6rem;
}

.features__description {
  -webkit-margin-start: 8.5rem;
          margin-inline-start: 8.5rem;
}

.features__no {
  display: inline-block;
  color: var(--color-light-gray);
  background-color: var(--color-bright-red);
  padding: 1rem 2.3rem;
  border-radius: 2rem;
}

.testimonials {
  width: 100%;
  display: grid;
  row-gap: 4rem;
  margin: 14rem 0;
}

.testimonials__header {
  width: 100%;
  text-align: center;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: grid;
  row-gap: 2rem;
  padding: 0 3rem 3rem;
  background-color: var(--color-light-gray);
  text-align: center;
}

.testimonials__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.testimonial__name {
  color: var(--color-dark-blue);
  font-weight: var(--font-weight-bold);
  margin: 2rem 0;
}

.getStarted--align {
  justify-self: center;
}

.footer {
  width: 100%;
  justify-self: center;
}

.footer__upper {
  display: flex;
  background-color: var(--color-bright-red);
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 13rem;
}

.footer__slogan {
  color: var(--color-light-gray);
  font-size: var(--font-size-25);
}

.footer__slogan::after {
  content: "\aworks today.";
  white-space: pre;
}

.getStarted-bg:link,
.getStarted-bg:visited {
  color: var(--color-bright-red);
  background-color: var(--color-white);
  align-self: center;
}

.getStarted-bg:hover,
.getStarted-bg:active {
  cursor: pointer;
  color: var(--color-pale-red);
}

.footer__lower {
  background-color: var(--color-very-dark-blue);
  padding: 4rem 13rem;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  height: 11rem;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 1.3rem;
}

.socials-link:link,
.socials-link:visited {
  height: 2rem;
  width: 2rem;
  transition: var(--transition-timing);
}

.facebook-icon:link,
.facebook-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-facebook.svg);
}

.facebook-icon:hover,
.facebook-icon:active {
  background-image: url(../images/icon-facebookRed.svg);
}

.youtube-icon:link,
.youtube-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-youtube.svg);
}

.youtube-icon:hover,
.youtube-icon:active {
  background-image: url(../images/icon-youtubeRed.svg);
}

.twitter-icon:link,
.twitter-icon:visited {
  height: 1.9rem;
  background-size: cover;
  background-image: url(../images/icon-twitter.svg);
}

.twitter-icon:hover,
.twitter-icon:active {
  background-image: url(../images/icon-twitterRed.svg);
}

.pinterest-icon:link,
.pinterest-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-pinterest.svg);
}

.pinterest-icon:hover,
.pinterest-icon:active {
  background-image: url(../images/icon-pinterestRed.svg);
}

.instagram-icon:link,
.instagram-icon:visited {
  background-size: cover;
  background-image: url(../images/icon-instagram.svg);
}

.instagram-icon:hover,
.instagram-icon:active {
  background-image: url(../images/icon-instagramRed.svg);
}

.links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 15rem;
       column-gap: 15rem;
}

.pages-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.page-link:link,
.page-link:visited {
  color: var(--color-light-gray);
  font-size: var(--font-size-13);
  transition: var(--transition-timing);
}

.page-link:hover,
.page-link:active {
  color: var(--color-bright-red);
}

.footer__form {
  display: flex;
  align-items: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__input {
  width: 18rem;
  font-size: var(--font-size-13);
  background-color: var(--color-white);
  padding: 1rem 1.6rem;
  border-radius: 1.9rem;
}

.footer__input.is-invalid {
  color: var(--color-bright-red);
  border: 0.2rem solid var(--color-bright-red);
}

.footer__button {
  color: var(--color-white);
  font-size: var(--font-size-13);
  padding: 1rem 1.7rem;
  background-color: var(--color-bright-red);
  border-radius: 1.9rem;
  -webkit-margin-start: 0.5rem;
          margin-inline-start: 0.5rem;
  transition: var(--transition-timing);
}

.footer__button:hover {
  background-color: var(--color-pale-red);
  cursor: pointer;
}

.footer__error {
  width: 100%;
  color: var(--color-bright-red);
  font-size: var(--font-size-11);
  overflow-wrap: break-word;
}

.footer__copyright {
  color: var(--color-grayish-blue);
  font-size: var(--font-size-11);
  align-self: flex-end;
}

@media (max-width: 500px) {
  /* Global */
  .getStarted-hidden {
    display: none;
  }
  .getStarted:hover,
  .getStarted:active {
    background-color: var(--color-bright-red);
  }
  .getStarted-bg:hover,
  .getStarted-bg:active {
    color: var(--color-bright-red);
  }
  .burger-icon {
    display: inline;
  }
  .header::after {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    transition: var(--transition-timing);
  }
  .nav__list {
    display: none;
  }
  .container {
    row-gap: 0;
  }
  .section {
    grid-template-columns: 1fr;
    grid-row: 5rem;
  }
  .h2-heading {
    text-align: center;
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-bold);
  }
  /* End Global*/
  /* Intro */
  .intro {
    margin: 3rem 0 9rem;
  }
  .intro__img {
    order: -1;
  }
  .intro__texts__box {
    text-align: center;
  }
  .intro__header {
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-bold);
  }
  .intro__description {
    width: 100%;
  }
  /* End Intro */
  /* Features */
  .features__list {
    padding: 0;
    row-gap: 4.5rem;
  }
  .features__main__description {
    text-align: center;
    margin-bottom: 5.5rem;
  }
  .features__content {
    gap: 0;
    margin: 0 -2rem 0.7rem 0;
    background-color: var(--color-pale-red);
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    align-items: center;
  }
  .features__title {
    padding: 0;
    margin: 0 0 0 1.2rem;
  }
  .features__description {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  /* End Features */
  /* Testimonials */
  .testimonials {
    margin: 7rem 0 3.5rem;
  }
  .swiper {
    width: 90%;
  }
  /* End Testimonials */
  /* Footer */
  .footer__upper {
    flex-direction: column;
    padding: 8.5rem 2.4rem;
  }
  .footer__slogan {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-medium);
    margin-bottom: 2.2rem;
    text-align: center;
  }
  .footer__slogan::after {
    content: " works\atoday.";
  }
  .footer__lower {
    position: relative;
    padding: 4rem 3rem;
  }
  .inner-container {
    flex-direction: column;
    height: 48rem;
    justify-content: flex-start;
  }
  .form-container {
    order: -1;
  }
  .footer__form {
    display: flex;
    gap: 0.3rem;
  }
  .input-container {
    flex: 1;
  }
  .footer__input {
    width: 100%;
    height: 4.2rem;
  }
  .social-container {
    position: absolute;
    bottom: 12rem;
    left: 8.8%;
  }
  .socials {
    order: -1;
    margin-bottom: 5rem;
    gap: 3.5rem;
  }
  .logo-img {
    width: 60%;
    align-self: center;
  }
  .socials-link:link,
  .socials-link:visited {
    height: 3rem;
    width: 3rem;
  }
  .facebook-icon:hover,
  .facebook-icon:active {
    background-image: url(../images/icon-facebook.svg);
  }
  .youtube-icon:hover,
  .youtube-icon:active {
    background-image: url(../images/icon-youtube.svg);
  }
  .twitter-icon:link,
  .twitter-icon:visited {
    height: 2.7rem;
  }
  .twitter-icon:hover,
  .twitter-icon:active {
    background-image: url(../images/icon-twitter.svg);
  }
  .pinterest-icon:hover,
  .pinterest-icon:active {
    background-image: url(../images/icon-pinterest.svg);
  }
  .instagram-icon:hover,
  .instagram-icon:active {
    background-image: url(../images/icon-instagram.svg);
  }
  .links-container {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
    margin-top: 6rem;
  }
  .page-link:link,
  .page-link:visited {
    font-size: var(--font-size-16);
  }
  .footer__button {
    height: 4.2rem;
    width: 7.3rem;
  }
  .footer__button:hover {
    background-color: var(--color-bright-red);
  }
  .footer__copyright {
    position: absolute;
    bottom: 3rem;
    left: 18%;
    font-size: var(--font-size-13);
  }
  /* End Footer */
}/*# sourceMappingURL=style.css.map */