@media (max-width: 1100px) {
  .links-container {
    column-gap: 0;
  }
}

@media (max-width: 800px) {
  /* Global */
  .container {
    margin: 0 6.5%;
  }

  .top-bg-img {
    display: block;
    position: absolute;
    top: -3rem;
    right: -6rem;
    width: 97.5%;
    height: auto;
    z-index: -1;
  }

  .header::after {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    transition: var(--transition-timing);
  }

  .getStarted-hidden {
    display: none;
  }

  .getStarted:link,
  .getStarted:visited {
    margin-inline-end: 0;
  }

  .menu-icon {
    display: inline;
    height: 2.2rem;
    width: 2.8rem;
    transition: var(--transition-timing);
    cursor: pointer;
  }

  .menu-icon.clicked {
    height: 2.4rem;
    width: 2.4rem;
  }

  .overlay {
    position: fixed;
    top: 9rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }

  .overlay.active {
    pointer-events: all;
  }

  .navigation {
    opacity: 0;
    position: fixed;
    top: 11rem;
    left: 6.5%;
    right: 0;
    width: 87%;
    z-index: 3;
    transition: var(--transition-timing);
  }

  .navigation.active {
    opacity: 1;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8rem;
    width: 100%;
    height: 28.5rem;
    background-color: var(--color-white);
    border-radius: 0.4rem;
    padding-top: 4rem;
    box-shadow: 0 0 100rem var(--color-grayish-blue);
  }

  .nav__item a:link,
  .nav__item a:visited {
    color: var(--color-dark-blue);
    font-weight: var(--font-weight-bold);
  }

  .container {
    row-gap: 0;
  }

  .section {
    grid-template-columns: 1fr;
    grid-row: 5rem;
  }

  .h2-heading {
    text-align: center;
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-bold);
  }

  .top-bg-img {
    display: block;
    position: absolute;
    top: -10rem;
    right: -16rem;
    width: 124.5%;
    height: auto;
    z-index: -1;
  }

  .lower-bg-img {
    position: absolute;
    top: 53rem;
    left: 24rem;
    width: 75%;
    z-index: -1;
  }
  /* End Global*/

  /* Intro */
  .intro {
    margin: 3rem 0 9rem;
  }

  .intro__img {
    order: -1;
    justify-self: center;
  }

  .intro__texts__box {
    text-align: center;
  }

  .intro__header {
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-bold);
  }

  .intro__description {
    max-width: 100%;
  }
  /* End Intro */

  /* Features */
  .features__list {
    padding: 0;
    row-gap: 4.5rem;
  }

  .features__main__description {
    text-align: center;
    margin-bottom: 5.5rem;
    max-width: 100%;
  }

  .features__content {
    gap: 0;
    margin: 0 -2rem 0.7rem 0;
    background-color: var(--color-pale-red);
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
    align-items: center;
  }

  .features__title {
    padding: 0;
    margin: 0 0 0 1.2rem;
  }

  .features__description {
    margin-inline-start: 0;
  }
  /* End Features */

  /* Testimonials */
  .testimonials {
    margin: 7rem 0 3.5rem;
  }

  .swiper {
    width: 90%;
  }

  .custom-swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
  }

  .swiper-pagination-bullet {
    border: 0.2rem solid var(--color-bright-red) !important;
    background-color: transparent !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    border-radius: 50% !important;
    margin-inline-end: 0.1rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-bright-red) !important;
  }
  /* End Testimonials */

  /* Footer */
  .footer__upper {
    flex-direction: column;
    padding: 8.5rem 2.4rem;
  }

  .footer__slogan {
    display: inline-block;
    width: 100%;
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-medium);
    margin-bottom: 2.2rem;
    text-align: center;
  }

  .footer__slogan::after {
    content: ' works\atoday.';
  }

  .footer__lower {
    padding: 4rem 3rem;
  }

  .inner-container {
    position: relative;
    flex-direction: column;
    height: 48rem;
    justify-content: flex-start;
  }

  .form-container {
    order: -1;
  }

  .footer__form {
    display: flex;
    gap: 0.3rem;
  }

  .input-container {
    flex: 1;
  }

  .footer__input {
    width: 100%;
    height: 4.2rem;
  }

  .social-container {
    position: absolute;
    bottom: 8.5rem;
    left: 0;
    width: 100%;
  }

  .logo-img {
    max-width: 50%;
    margin-inline-start: 26%;
  }

  .socials {
    order: -1;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
    justify-content: space-between;
  }

  .socials-link:link,
  .socials-link:visited {
    height: 3rem;
    width: 3rem;
  }

  .links-container {
    margin-top: 6rem;
    column-gap: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 4%;
  }

  .page-link:link,
  .page-link:visited {
    font-size: var(--font-size-16);
  }

  .footer__button {
    height: 4.2rem;
    width: 7.3rem;
  }

  .footer__copyright {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: var(--font-size-13);
    width: 100%;
  }
  /* End Footer */
}

@media (max-width: 500px) {
  .navigation {
    left: 6vw;
    width: 88vw;
  }

  .getStarted:hover,
  .getStarted:active {
    background-color: var(--color-bright-red);
  }

  .getStarted-bg:hover,
  .getStarted-bg:active {
    color: var(--color-bright-red);
  }

  .footer__button:hover {
    background-color: var(--color-bright-red);
  }

  .facebook-icon:hover,
  .facebook-icon:active {
    background-image: var(--filepath-fb-white);
  }

  .youtube-icon:hover,
  .youtube-icon:active {
    background-image: var(--filepath-ytube-white);
  }

  .twitter-icon:link,
  .twitter-icon:visited {
    height: 2.7rem;
  }

  .twitter-icon:hover,
  .twitter-icon:active {
    background-image: var(--filepath-tw-white);
  }

  .pinterest-icon:hover,
  .pinterest-icon:active {
    background-image: var(--filepath-pint-white);
  }

  .instagram-icon:hover,
  .instagram-icon:active {
    background-image: var(--filepath-insta-white);
  }

  .socials {
    width: 100%;
    padding: 0 2% 0 4%;
  }
}
